footer
	.pagewidth
		section#about
			h2 About me
			p I'm an Computer Engineer from Barcelona that enjoys challenges. I am a programing polyglot: not a guru of any language, but with fluency in a dozen of them and the skill to quickly pick new ones.
		section#contacto
			h2 Contacto
			p.peque You can send me a mail to oscardc[at]gmx.com, or write at GitHub if it's related to any of my projects posted there.
