doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title= headTitle || title
		meta(name='description', content=headDescription)
		link(rel='stylesheet', href='/css/style.min.css')
		script(async, src='https://www.google-analytics.com/analytics.js')
		if authored
			link(rel="author", href="/oscar")

	body
		header
			div.pagewidth
				a.htitle(href="/")
					h1 Oscar D. Corbalan
					h2 Developer
					nav
						if active == 'project'
							a.active(href="/") Projects
							a(href="/oscar") About me
						else
							a(href="/") Projects
							a.active(href="/oscar") About me
						a(href="http://github.com/OscarDCorbalan") My GitHub
