doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title= headTitle
		meta(name='description', content=headDescription)
		link(rel='stylesheet', href='css/style.min.css')
		script window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create','UA-83918047-1','auto'); ga('send','pageview');
		script(async, src='//www.google-analytics.com/analytics.js')
	body
		header
			div.pagewidth
				a.htitle(href="/")
					h1 Oscar Dominguez
					h2 Desarrollador
					nav
						a.active(href="/")
						a(href="http://github.com/OscarDCorbalan") My GitHub
						a#contact(href="#contacto") Contacto
