doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title= headTitle
		meta(name='description', content=headDescription)
		link(rel='stylesheet', href='/css/style.min.css')
		script window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create','UA-83918047-1','auto'); ga('send','pageview');
		script(async, src='//www.google-analytics.com/analytics.js')
		if authored
			link(rel="author", href="/oscar")
		elif authorPage
			link(rel="me", href="https://plus.google.com/u/0/102382007013180742875")

	body
		header
			div.pagewidth
				a.htitle(href="/")
					h1 Oscar D. Corbalan
					h2 Developer
					nav
						a.active(href="/") Projects
						a(href="http://github.com/OscarDCorbalan") My GitHub
						a#contact(href="#contacto") Contact
