extends ../../templates/project

block vars
	- var title = "Gulp-LESS-Pug skeleton"
	- var subTitle = "Open Source tool to build webapps"
	- var year = 2016
	- var headDescription = "-"

	- var images = []
	- images.push({height: 620, src: "gulp-less-pug-skeleton/github.png", title: "Skeleton"})

	- var description = []
	- description.push("Skeleton with the necessary tools and configuration to start building ASAP a web application based on <a href=\"http://lesscss.org\">LESS</a> and <a href=\"https://pugjs.org/\">Pug</a> templates.")
	- description.push("The configured webserver in <a href=\"http://gulpjs.com\">Gulp</a> autoreloads when any change is made in the source code.")
	- description.push("Everything needed for production is packed into a <i>/public</i> directory, so you can easily configure the step to copy it to your server.")

	- var links = []
	- links.push({text: "NPM package", href: "https://www.npmjs.com/package/gulp-less-pug-skeleton"})
	- var brokenLinks = []
