- var headTitle = 'Gulp Less Pug Skeleton'
- var headDescription = 'Skeleton to build static websties using Pug and Less, plus a live-reload webserver for faster development'

include ./partials/header.pug
	body
		header
			h1 Example Pug file
		p.text-styled This text uses a font from ./source/assets/fonts
		p Which is different from this font
		br
		p.text-center This text is centered using a static CSS from ./source/assets/css
		button(onclick="assetsFunction()") This button calls a function from ./source/assets/js
		p And this is a static image copied from ./source/assets/images:
		div
			img(src='images/some_static.jpg')
