- var headTitle = 'Oscar D. Corbalan'
- var headDescription = 'Computer Engineer from Barcelona that loves challenges. Polyglot with fluency in a dozen programming languages and the skill to quickly pick new ones.'

mixin homeArticle(link, title, subTitle, year)
	article
		a(href="/project/" + link)
			header
				.details
					h2= title
					p= subTitle
			span.bw-wrap
				img.bw(src="https://res.cloudinary.com/oscardc/image/upload/f_auto,q_auto/v1487526554/oscardc.com/img/" + link + "/" + link + ".jpg", alt=title, width=300, height=300)
			span.clr-wrap
				img.clr(src="https://res.cloudinary.com/oscardc/image/upload/f_auto,q_auto/v1487526554/oscardc.com/img/" + link + "/" + link + "-bw.jpg", alt=title, width=300, height=300)

include ./partials/header.pug

#main
	.pagewidth
		section#portfolio
			h2#portfolio-title Some of my public and Open-Source projects
			.overflow-auto
				h3 Year 2017
				.flex-article-box
					+homeArticle('mealeaters','MealEaters','Cloud-based webapp')
			.overflow-auto
				h3 Year 2016
				.flex-article-box
					+homeArticle('restaurant-menu','Restaurant menus','Python + Flask web app')
					+homeArticle('sotogrande-taxi','Sotogrande Taxi','Mobile-first web')
			.overflow-auto
				h3 Year 2015
				.flex-article-box
					+homeArticle('taxi-en-alcaidesa','Taxi en Alcaidesa','Reponsive web')
			.overflow-auto
				h3 Year 2014
				.flex-article-box
					+homeArticle('biwair','Biwair','Flixel-based game', 2014)
					+homeArticle('sinistra-defense','Sinistra Defense','HTML5 game')
			.overflow-auto
				h3 Year 2013
				.flex-article-box
					+homeArticle('dungeon-realms','Dungeon Realms','Flash-based game', 2013)
					+homeArticle('hecho-al-punto','Hecho al Punto','HTML5-CSS3 web', 2013)
					+homeArticle('taxi-san-roque','Taxi San Roque','Responsive website', 2013)
				.flex-article-box
					+homeArticle('geoparsing','Geoparsing','Java + Open Source')
			.overflow-auto
				h3 Year 2012
					.flex-article-box
						+homeArticle('chromatic-td','Chromatic TD','ActionScript 3-based game', 2012)
						+homeArticle('bitmaiden','Bit Maiden','Wordpress portal', 2012)
						+homeArticle('estanco','Estanco de Llagostera','HTML5-CSS3 web')
			.overflow-auto
				h3 Year 2011
					.flex-article-box
						+homeArticle('mancala','Mancala','ActionScript 3-based game')
			.overflow-auto
				h3 Year 2009
				.flex-article-box
					+homeArticle('roxbury','Roxbury: The Club','Flash-based website', 2009)
			.overflow-auto
				h3 2003-2005 (more than 10 years ago):
				.flex-article-box
					+homeArticle('tierra-media','Tierra Media','Mod of Neverwinter Nights')

include ./partials/footer.pug
