- var headTitle = 'Gulp Less Pug Skeleton'
- var headDescription = 'Skeleton to build static websties using Pug and Less, plus a live-reload webserver for faster development'

mixin homeArticle(link, title, subTitle)
	article
		a(href="/project/" + link)
			header
				.details
					h2= title
					p= subTitle
			span.bw-wrap
				img.bw(src="http://res.cloudinary.com/oscardc/image/upload/f_auto,q_auto/v1473228387/oscardc.com/img/" + link + "/" + link + "-bw.jpg", alt=title, width=300, height=300)
			span.clr-wrap
				img.clr(src="http://res.cloudinary.com/oscardc/image/upload/f_auto,q_auto/v1473228387/oscardc.com/img/" + link + "/" + link + ".jpg", alt=title, width=300, height=300)

include ./partials/header.pug

#main
	.pagewidth
		section#portfolio
			h2#portfolio-title Projects
			div
				+homeArticle('sotogrande-taxi','Sotogrande Taxi','Mobile-first web')

				+homeArticle('taxi-en-alcaidesa','Taxi en Alcaidesa','Reponsive web')
				+homeArticle('geoparsing','Geoparsing','Java + Open Source')
				+homeArticle('biwair','Biwair','Flixel-based game')
				+homeArticle('dungeon-realms','Dungeon Realms','Flash-based game')
				+homeArticle('chromatic-td','Chromatic TD','ActionScript 3-based game')
				+homeArticle('mancala','Mancala','ActionScript 3-based game')
				+homeArticle('sinistra-defense','Sinistra Defense','HTML5 game')
				+homeArticle('tierra-media','Tierra Media','Mod of Neverwinter Nights')
				+homeArticle('bitmaiden','Bit Maiden','Wordpress portal')
				+homeArticle('restaurant-menu','Restaurant menus','Python + Flask web application')
				+homeArticle('hecho-al-punto','Hecho al Punto','HTML5-CSS3 web')
				+homeArticle('estanco','Estanco de Llagostera','HTML5-CSS3 web')
				+homeArticle('taxi-san-roque','Taxi San Roque','Responsive website')
				+homeArticle('roxbury','Roxbury: The Club','Flash-based website')

include ./partials/footer.pug
