include ./partials/header.pug

- var active = 'oscar'

#main
	.pagewidth

		h2 Follow me
		p.marginTop-20px If you want to connect with me, I'm available at:
		ul.marginTop-10px.marginLeft-50px
			li
				a(rel="me", href="https://www.linkedin.com/in/oscardc") LinkedIn
			li
				a(rel="me", href="https://plus.google.com/u/0/102382007013180742875") Google Plus
			li
				a(rel="me", href="https://twitter.com/OscarDCorbalan") Twitter
			li
				a(rel="me", href="https://github.com/OscarDCorbalan/") GitHub
			li
				a(rel="me", href="https://www.npmjs.com/~oscardcorbalan") NPM JS

		h2.marginTop-40px I've designed and developed software for...
			p.marginTop-20px
				a(rel="external" href="http://www.fujitsu.com/")
					img(src="/images/fujitsu.png", height=50, title="Fujitsu Spain")
				a.marginLeft-50px(rel="external" href="http://www.upc.edu")
					img(src="/images/barcelonatech.png", height=50, title="BarcelonaTech")
				a.marginLeft-50px(rel="external" href="http://www.csdm.es")
					img(src="/images/hospital-de-mataro.png", height=50, title="Hospital de Mataró")
			p.marginTop-20px
				a(rel="external" href="https://www.bancosantander.es")
					img(src="/images/banco-santander.png", height=50, title="Banco Santander")
				a.marginLeft-50px(rel="external" href="https://www.ibercaja.es")
					img(src="/images/ibercaja.png", height=50, title="IberCaja")
				a.marginLeft-50px(rel="external" href="http://www.opentiendas.com")
					img(src="/images/opentiendas.png", height=50, title="OpenTiendas")
			p.marginTop-20px
				a(rel="external" href="https://www.caixabank.com")
					img(src="/images/caixabank.png", height=50, title="CaixaBank")
				a.marginLeft-50px(rel="external" href="http://www.sentisis.com")
					img(src="/images/sentisis.png", height=50, title="Séntisis")
				a.marginLeft-50px(rel="external" href="https://www.bancsabadell.com/")
					img(src="/images/banc-sabadell.png", height=50, title="Banc Sabadell")
				a.marginLeft-50px(rel="external" href="http://www.topboats.com")
					img(src="/images/topboats.png", height=50, title="TopBoats")

		h2.marginTop-40px My experience
		p.marginTop-20px.
			I'm a #[strong Computer Engineer and Full Stack passionate] from Barcelona that loves to pursue challenges.
			I'm a constant learner and a lover of elegantly coded, efficient and scalable solutions. Oh! And passionate about crafting new things.
		p.marginTop-20px I have a preference for HTML5/CSS3, Javascript, Node.js, Python, MongoDB and Git, but also have an #[strong holistic technology background] since I started programming backin in 2001 with DarkBASIC.
		p.marginTop-20px Some of my #[strong professional web development experience] includes:
		ul.marginTop-10px.marginLeft-50px
			li #[strong Provision]:
				ul.marginLeft-50px
					li Deploying and securing #[strong CentOS] and #[strong RHEL] servers to balance high workloads,
					li Configuring #[strong Nginx] and #[strong Apache] proxies to balance multiple servers and CDN,
					li VPSs, dedicated servers, #[strong Amazon AWS] and #[strong Google App Engine]...
					li Caching everywhere for blazing speed: CDN, Memcached, SQL/NoSQL, in-backend logic.
		ul.marginTop-10px.marginLeft-50px
			li #[strong Backend stacks]:
				ul.marginLeft-50px
					li #[strong Node.js] + Express,
					li #[strong Python] + Flask and Plone,
					li Java + Struts and Spring,
					li PHP + Wordpress...
			li #[strong Front-end]:
				ul.marginLeft-50px
					li Mixing up #[strong LESS], #[strong Bootstrap], JQuery & React,
					li Pure, plain #[strong Javascript] and #[strong ES6],
					li #[strong High-performance] Canvas rendering,
					li Jade and Pug templates,
					li ActionScript & Flash...
			li #[strong Databases]:
				ul.marginLeft-50px
					li #[strong MongoDB],
					li #[strong Google Datastore],
					li PostgreSQL,
					li #[strong MySQL],
					li Oracle SQL...
			li And other less-used tools and languages (Vagrant, assembler programming, C++...).


		h2.marginTop-40px Contact
		p.marginTop-20px If its related to any of my #[strong public or open source projects], you can post on any of the #[em Issues] pages in the respective repository.
		p.marginTop-20px You can send me an email to oscardc@gmx.com for #[strong everything else]:
		ul.marginTop-10px.marginLeft-50px
			li Giving or taking courses,
			li Job opportunities,
			li Open source collaborations,
			li Consulting,
			li Partnerships,
			li etc

include ./partials/footer.pug
