include ./partials/header.pug

#main
	.pagewidth

		h2 About me
		p.marginTop-20px I'm a #[strong Computer Engineer and Full Stack passionate] from Barcelona that loves to pursue challenges.
		p.marginTop-20px I have a preference for HTML5/CSS3, Javascript, Node.js, Python, MongoDB and Git, but also have an #[strong holistic technology background] since I started programming backin in 2001 with DarkBASIC.
		p.marginTop-20px Some of my #[strong professional web development experience] includes:
		ul.marginTop-10px.marginLeft-50px
			li #[strong Provision]:
				ul.marginLeft-50px
					li Deploying and securing #[strong CentOS] servers to balance high workloads,
					li Configuring #[strong Nginx] and Apache proxies to balance multiple servers plus CDN,
					li VPSs, dedicated servers, #[strong Amazon AWS and Google App Engine].
		ul.marginTop-10px.marginLeft-50px
			li #[strong Backend stacks]:
				ul.marginLeft-50px
					li #[strong Node.js] + Express,
					li #[strong Python] + Flask and Plone,
					li Java + Struts and Spring,
					li PHP + Wordpress,
			li #[strong Front-end]:
				ul.marginLeft-50px
					li Mixing up #[strong LESS], #[strong Bootstrap], JQuery & React,
					li Pure, plain Javascript,
					li #[strong High-performance] Canvas rendering,
					li Jade and Pug templates,
					li ActionScript & Flash,
			li #[strong Databases]:
				ul.marginLeft-50px
					li #[strong MongoDB],
					li #[strong Google Datastore],
					li PostgreSQL,
					li #[strong MySQL],
					li Oracle SQL...
			li And other less-used tools and languages (assembler, C++...).
		p.marginTop-20px I'm a constant learner and a lover of elegantly coded, efficient and scalable solutions. And passionate about crafting new things.

		h2.marginTop-40px Follow me
		p.marginTop-20px If you want to connect with me via social networks, you can do so via any of these:
		ul.marginTop-10px.marginLeft-50px
			li
				a(rel="me", href="https://www.linkedin.com/in/oscardc") LinkedIn
			li
				a(rel="me", href="https://plus.google.com/u/0/102382007013180742875") Google Plus
			li
				a(rel="me", href="https://twitter.com/OscarDCorbalan") Twitter
			li
				a(rel="me", href="https://github.com/OscarDCorbalan/") GitHub
			li
				a(rel="me", href="https://www.npmjs.com/~oscardcorbalan") NPM JS


		h2.marginTop-40px Contact
		p.marginTop-20px If its related to any of my #[strong public or open source projects], you can post on any of the #[em Issues] pages in the respective repository.
		p.marginTop-20px You can send me an email to oscardc@gmx.com for #[strong everything else]:
		ul.marginTop-10px.marginLeft-50px
			li Giving or taking courses,
			li Job opportunities,
			li Open source collaborations,
			li Consulting,
			li Partnerships,
			li etc

include ./partials/footer.pug
