include ./partials/header.pug

#main
	.pagewidth

		h2 About me
		p.marginTop-20px I'm a Computer Engineer and Full Stack passionate from Barcelona that loves to pursue challenges. I am a programing polyglot: not a guru of any language, but with fluency in a dozen of them and the skill to quickly pick new ones.

		h2.marginTop-40px Want to follow me?
		p.marginTop-20px If you want to connect with me via social networks, you can do so via any if these:
		ul.marginTop-40px
			li
				a(rel="me", href="https://plus.google.com/u/0/102382007013180742875") Google Plus
			li
				a(rel="me", href="https://twitter.com/OscarDCorbalan") Twitter
			li
				a(rel="me", href="https://github.com/OscarDCorbalan/") GitHub
			li
				a(rel="me", href="https://www.npmjs.com/~oscardcorbalan") NPM repo

		h2.marginTop-40px Contact
		p.marginTop-20px You can send me a mail to oscardc@gmx.com, or write at GitHub if it's related to any of my projects posted there.

include ./partials/footer.pug
