extends ../../templates/project

block vars
	- var title = "Roxbury: The Club"
	- var subTitle = "Flash-based website"
	- var year = 2009
	- var headDescription = "Media-rich web site developed with Flash and ActionScript 2 for Roxbury: The Club, a pub-disco near Barcelona, using XML & HTML importing altogirhtms for updating."

	- var images = []
	- images.push({height: 589, src: "roxbury/screen.jpg"})
	- images.push({height: 390, src: "roxbury/menu-code.png"})

	- var description = []
	- description.push("Roxbury: The Club was a pub-disco in Mataro (Barcelona), aimed at a young clientele. They required a page that remembered a night/party atmosphere, being colorful and accommodating requirements such as an integrated music player.")
	- description.push("The web is built with Flash to get the dynamism that only it could offer, but with custom ActionScript classes that import content and feeds from HTML and XML files. This makes updating the site a breeze without needing to recompile the source code.")


	- var links = []
	- var brokenLinks = []
