{{ define "main" }}

<div class="ui container">

    <h1 class="ui header">
        Hi, I'm {{ .Site.Title }}
    </h1>
    <h3 class="ui header">
        I'm a Software Engineer and passionate about everything JavaScript.
    </h3>

    <div class="ui cards">
            <a class="ui card" href="/about">
                <img class="image" data-src="/img/me.jpg" src="/img/blank.png">

                <div class="content">
                    <div class="header">About</div>
                    <div class="ui meta">
                        <span class="date">I do things with code</span>
                    </div>
                    <div class="description">
                        Like writing <i>&lt;div&gt;</i> and <i>git push</i> and then your user has zommable 3D tables with rainbow-colored rows.
                    </div>
                </div>
            </a>

            <a class="ui card" href="/contact">
                <img class="image" data-src="/img/modem.jpg" src="/img/blank.png">

                <div class="content">
                    <div class="header">Geting in contact</div>
                    <div class="ui meta">
                        <span class="date">Brrzzz wiuu wiuuu braaaaa...</span>
                    </div>
                    <div class="description">
                        Looking for a way to contact me or some links to my online profiles?
                    </div>
                </div>
            </a>
    </div>

    <div class="ui cards">
        {{ range (where .Site.RegularPages "Section" "in" .Site.Params.professionalSections) }}
            <a class="ui card" href="{{ .RelPermalink }}">
                {{ if and (isset .Params "image") .Params.image }}
                    {{ $image := .Resources.GetMatch (.Params.Image) }}
                    {{ with $image }}
                        {{ $resized := .Resize "240x240 q100" }}
                        {{ $resized := $resized.Fill "240x180 q92" }}
                        <img class="image" data-src="{{$resized.RelPermalink | relURL }}" src="/img/blank.png">
                    {{ end }}
                {{ end }}

                <div class="content">
                    <div class="header">{{ .Title }}</div>
                    <div class="ui meta">
                        <span class="date">Crafted in {{ .Params.year }}</span>
                    </div>
                    <div class="description">
                        {{ .Description }}
                    </div>
                </div>
            </a>
        {{ end }}
    </div>

    <h2>Personal projects 2004-2019</h2>
    <div class="ui cards">
        {{ range (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
            <a class="ui card" href="{{ .RelPermalink }}">
                {{ if and (isset .Params "image") .Params.image }}
                    {{ $image := .Resources.GetMatch (.Params.Image) }}
                    {{ with $image }}
                        {{ $resized := .Resize "240x240 q100" }}
                        {{ $resized := $resized.Fill "240x180 q92" }}
                        <img class="image" data-src="{{$resized.RelPermalink | relURL }}" src="/img/blank.png">
                    {{ end }}
                {{ end }}

                <div class="content">
                    <div class="header">{{ .Title }}</div>
                    <div class="ui meta">
                        <span class="date">Crafted in {{ .Params.year }}</span>
                    </div>
                    <div class="description">
                        {{ .Description }}
                    </div>
                </div>
            </a>
        {{ end }}
    </div>

</div>

{{ end }}
