{{ define "main" }}

<div class="ui container">
    <h1 class="ui header">
        {{ .Site.Title }}
    </h1>

    <h2>Projects 2004-2019</h2>
    <div class="ui cards">
        {{ range (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
            <a class="ui card" href="{{ .RelPermalink }}">
                {{ if and (isset .Params "image") .Params.image }}
                <img class="image" data-src="{{.Params.image | relURL }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                {{ end }}

                <div class="content">
                    <div class="header">{{ .Title }}</div>
                    <div class="ui meta">
                        <span class="date">Crafted in {{ .Params.year }}</span>
                    </div>
                    <div class="description">
                        {{ .Description }}
                    </div>
                </div>
            </a>
        {{ end }}
    </div>

</div>

{{ end }}
