{{ define "main" }}

<div class="ui container">
    <h1 class="ui header">
        {{ .Site.Title }}
    </h1>

    <h2>Projects 2004-2019</h2>
    <div class="ui cards">
        {{ range (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
            <div class="ui card">
                {{ if and (isset .Params "image") .Params.image }}
                <a class="image" href="{{ .Permalink }}">
                    <img data-src="{{.Params.image | relURL }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </a>
                {{ end }}

                <div class="content">
                    <a href="{{ .Permalink }}" class="header">{{ .Title }}</a>
                    <div class="ui meta">
                        <span class="date">Crafted in {{ .Params.year }}</span>
                    </div>
                    <div class="description">
                        {{ .Description }}
                    </div>
                </div>
                <a href="{{ .Permalink }}" rel="nofollow">
                    <div class="ui bottom attached primary small button">
                            <i class="terminal icon"></i>
                            Read more
                    </div>
                </a>
            </div>
        {{ end }}
    </div>

</div>

{{ end }}
