extends ../templates/project

block vars
	- var title = "Bit Maiden"
	- var subTitle = "Wordpress/PHP portal"
	- var year = 2012
	- var headDescription = "Bit Maiden was a top reference in the indie videogame niche, offering article, reviews and online games and a community for thousands of gamers."

	- var images = []
	- images.push({height: 389, src: "bitmaiden/screen1.jpg"})
	- images.push({height: 255, src: "bitmaiden/itemprop.png"})
	- images.push({height: 652, src: "bitmaiden/curl.png"})

	- var description = []
	- description.push("Bit Maiden was a web portal in the indie videogames niche; that is, created only with the own resources of the development team, without any editor backing. The portal had both an informative side (news, reviews, etc) and the possibility to play only Flash and HTML5 games.")
	- description.push("World-wide, it became the second top reference in its niche, just beyond Indie Games Mag and its various related portals, and a thriving community was built around it, with peaks of 20-25 thousand pageviews per days.")
	- description.push("The monetization was a mix of standard ad income (Intergi, mixed with Google AdWords and other smaller networks) and affiliate purchases. Affiliate sales were achieved by in-game money spent in games available at Bit Maiden, as well as regular links to buy the games mentioned by our articles.")
	- description.push("Bit Maiden also had custom web scrappers that daily checked the prices of various online sellers (Steam, Good Old Games, GreenMan Gaming...), that allowed it to always pick the best offer and allow users to buy at the best price through us.")

	- var links = []
	- var brokenLinks = []
	- brokenLinks.push("BitMaiden.com")
