extends ../templates/project

block vars
	- var title = "Chromatic Tower Defense"
	- var subTitle = "Game developed in ActionScript 3"
	- var year = 2012

	- var images = []
	- images.push({height: 550, src: "chromatic-td/screen1.png"})
	- images.push({height: 550, src: "chromatic-td/screen2.png"})
	- images.push({height: 409, src: "chromatic-td/editor.jpg"})
	- images.push({height: 455, src: "chromatic-td/upload.jpg"})

	- var description = []
	- description.push("Chromatic TD (TD = Tower Defense) is a game, developed in ActionScript, with the objective of stopping the enemies from crossing the map by building different elements (towers) that fire or have effects over enemies or other towers, which make strategy and construction planning key elements. Each enemy killed gives credits that allow building new elements or upgrading existing ones.")
	- description.push("The game includes a level editar that can be integrated with REST APIs of any web portal, so the players registered in it can save, load and share their creations, offering an infinite re-playability.")
	- description.push("Chromatic Tower Defense is implemented in ActionScript 3.0, which allows to play it in any browser but also to compile the code for any platform: Linux, Android, iOS, Windows, etc.")


	- var links = []
	- links.push({text: "Project at GitHub", href: "https://github.com/OscarDCorbalan/AS3-Engine-TowerDefense"})
	- var brokenLinks = []
