extends ../templates/project

block vars
	- var title = ""
	- var subTitle = ""
	- var year = 1234
	- var headDescription = ""

	- var images = []
	- images.push({height: 1, src: "", title: ""})

	- var description = []
	- description.push("")

	- var links = []
	- links.push({text: "", href: ""})
	- var brokenLinks = []
