extends ../templates/project

block vars
	- var title = "Hecho al Punto"
	- var subTitle = "Responsive website"
	- var year = 2013
	- var headDescription = "Hecho al Punto was my brand and reference portal to sell my services online as a freelance professional."

	- var images = []
	- images.push({height: 1054, src: "hecho-al-punto/screen.jpg"})

	- var description = []
	- description.push("Hecho al Punto was my brand and reference portal to sell my services online as a freelance professional.")

	- var links = []
	- var brokenLinks = []
	- brokenLinks.push("hechoal.com")
