extends ../templates/project


block vars
	- var title = "Restaurant Menus"
	- var subTitle = "Web Application"
	- var year = 20

	- var images = []
	- images.push({height: 503, src: "restaurant-menu/menu-of-restaurant.jpg", title: ""})
	- images.push({height: 436, src: "restaurant-menu/oauth-facebook.png", title: ""})
	- images.push({height: 579, src: "restaurant-menu/oauth-google.png", title: ""})



	- var description = []
	- description.push("This project was started while coursing the <strong>Full Stack Developer Nanodegree</strong> degree at <a href=\"https://www.udacity.com\">Udacity</a>.")
	- description.push("Restaurant Menus is a web application that allows restaurant owners to register, manage and show off their menus. It's built with:")
	- description.push({omitPTag: true, content: "<ul><li><strong>Front end</strong>: HTML5 y CSS3, con una interfaz creada sobre Bootstrap y jQuery.</li><li><strong>Back end</strong>: Python, más el framework Flask.</li><li><strong>Base de datos</strong>: SQLAlchemy sobre PostgreSQL. También se testeó con SQLite durante el desarrolló.</li></ul>"})
	- description.push("The project also allows to authenticate via Facebook and Google by implementing, in self-developed code, <strong>OAuth authentication</strong> usign their public APIs.")
	- description.push("Everything was developed using <a href=\"https://www.vagrantup.com\">Vagrant</a>.")

	- var links = []
	- links.push({text: "GitHub project", href: "https://github.com/OscarDCorbalan/fullstack-nanodegree-vm/tree/master/vagrant/restaurants"})
	- var brokenLinks = []
