extends ../templates/project

block vars
	- var title = "Taxi San Roque"
	- var subTitle = "Responsive website"
	- var year = 2013

	- var images = []
	- images.push({height: 445, src: "taxi-san-roque/screen.jpg"})

	- var description = []
	- description.push("Web created for a Taxi Driver para un taxista de la localidad turística de San Roque, en búsqueda de captar clientes mediante posicionamiento SEO.")

	- var links = []
	- links.push({text: "TaxiSanRoque.com", href: "http://www.taxisanroque.com"})
	- var brokenLinks = []
