extends ../templates/project

block vars
	- var title = "Taxi San Roque"
	- var subTitle = "Responsive website"
	- var year = 2013
	- var headDescription = "Web created for a taxi driver from the tourist resort of San Roque, in search of attracting customers through SEO positioning."

	- var images = []
	- images.push({height: 445, src: "taxi-san-roque/screen.jpg"})

	- var description = []
	- description.push("Web created for a taxi driver from the tourist resort of San Roque, in search of attracting customers through SEO positioning.")

	- var links = []
	- links.push({text: "TaxiSanRoque.com", href: "http://www.taxisanroque.com"})
	- var brokenLinks = []
