{{ define "main" }}

<div class="ui container">
    <h2 class="ui header">
        Contact
    </h2>

    <h3 class="ui header">
        Social
    </h3>
    <p>
        The easiest way to reach me out is to get into one of these social profiles and send me a message through their platforms:
    </p>

    <div class="ui basic labels">
        {{ with .Site.Params.social.github }}
        <a class="ui black image label" href="https://www.github.com/{{.}}" rel="nofollow">
            <i class="github icon"></i>
            GitHub
            <div class="detail">Code</div>
        </a>
        {{end}}

        {{ with .Site.Params.social.linkedin }}
        <a class="ui blue image label" href="https://www.linkedin.com/in/{{.}}" rel="nofollow">
            <i class="linkedin icon"></i>
            LinkedIn
            <div class="detail">Experience</div>
        </a>
        {{end}}

        {{ with .Site.Params.social.twitter }}
        <a class="ui blue image label" href="https://twitter.com/{{.}}" rel="nofollow">
            <i class="twitter icon"></i>
            Twitter
            <div class="detail">Randomness</div>
        </a>
        {{end}}
    </div>
</div>

{{ end }}
