<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ if .IsHome }}
    <title>Oscar D. Corbalan</title>
    <meta name="description" content="{{ .Site.Params.Description }}">
{{ else }}
    <title>{{ .Title }} | Oscar D.C.</title>
    <meta name="description" content="{{ .Description }}">
{{ end }}

{{ $semantic := resources.Get "semantic-ui-purified.css" | minify | fingerprint "md5"  }}
<link rel="stylesheet"
      href="{{ $semantic.Permalink }}"
      integrity="{{ $semantic.Data.Integrity }}">

<link rel="shortcut icon" href="{{ "img/favicon.ico" | absURL }}">

{{ template "_internal/google_analytics_async.html" . }}
