<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ with .Title }}
    <title>{{ . }}</title>
{{ end }}
{{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1">



{{ $semantic := resources.Get "semantc-ui-partial.css" | minify | fingerprint "md5"  }}

<link rel="stylesheet"
      href="{{ $semantic.Permalink }}"
      integrity="{{ $semantic.Data.Integrity }}">


<link rel="shortcut icon" href="{{ "img/favicon.ico" | absURL }}">

{{ template "_internal/google_analytics_async.html" . }}
