extends ../../templates/project

block vars
	- var title = "Mancala"
	- var subTitle = "Game developed with ActionScript 3"
	- var year = 20
	- var headDescription = "Mancala or Oware is a 1 or 2-players videogame that implements one of the most known variants of this board game of african origin."

	- var images = []
	- images.push({height: 350, src: "mancala/title.jpg", title: "Game title"})
	- images.push({height: 350, src: "mancala/levels.jpg", title: "Mancala level selection"})
	- images.push({height: 350, src: "mancala/game.jpg", title: "Mid-game screenshot"})

	- var description = []
	- description.push("Mancala is a game of african origin. It consists of a board with two rows of six holes and 48 seeds in which two players try to win the maximum number of these.")
	- description.push("In the real world, playing equipment ranges from simple found stones or seeds with holes dug in the earth to elaborate and expensive boards and playing pieces.")
	- description.push("The game supports to play versus another human or an artificial intelligence (MinMax algorithm) with different difficulty levels.")

	- var links = []
	- var brokenLinks = []
