<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui hidden section divider "></div>
        <div class="ui stackable inverted divided grid">

            <div class="eight wide column">
                <h4 class="ui inverted header">About me</h4>
                <p>I'm a Computer Engineer from Barcelona that enjoys challenges. I am a programing polyglot: not a guru of any language, but with fluency in a dozen of them and the skill to quickly pick new ones.</p>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Contact</h4>
                <p>You can send me a mail to oscardc@gmx.com, or write at GitHub if it's related to any of my projects posted there.</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui horizontal inverted small divided link list">
            {{ range .Site.Params.navlinks }}
            <a class="item" href="{{ absURL .url }}">{{ .name }}</a>
            {{ end }}
        </div>
        <div class="ui hidden section divider "></div>
    </div>
</div>
