<h1 class="ui inverted header">
    {{ .Site.Title }}
</h1>
<div class="ui container">
    <h2>Projects 2004-2019</h2>
    <div class="ui four column doubling grid middle aligned">
        {{ range .Data.Pages }}
        <div class="column">
            <div class="ui card">
                {{ if and (isset .Params "image") .Params.image }}
                <a class="image" href="{{ .Permalink }}">
                    <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                </a>
                {{ end }}

                <div class="content">
                    <a href="{{ .Permalink }}" class="header">{{ .Title }}</a>
                    <div class="description">
                        {{ .Description }}
                    </div>
                </div>
                <div class="extra content">
                    <i class="calendar alternate outline icon"></i>Year: {{ .Params.year }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>

</div>
