<div class="ui inverted vertical center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>

            {{ range .Site.Params.navlinks }}
            <a class="item" href="{{ absURL .url }}">{{ .name }}</a>
            {{ end }}

            <div class="right item">
                {{ with .Site.Params.social.github }}
                <a class="ui inverted button" href="https://www.github.com/{{.}}">GitHub</a>
                {{end}}
                <div class="right item">
                </div>
                {{ with .Site.Params.social.twitter }}
                <a class="ui inverted button" href="https://twitter.com/{{.}}">Twitter</a>
                {{end}}
                <div class="right item">
                </div>
                {{ with .Site.Params.social.linkedin }}
                <a class="ui inverted button" href="https://www.linkedin.com/in/{{.}}">LinkedIn</a>
                {{end}}
            </div>
        </div>
    </div>
</div>
